:root {
  --weathercontainerbg: transparent;
  --weathertext: #fffdfa;
  --weathertext2: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
root {
  position: fixed;
}

.appcontainer {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 85%;
  height: 85%;
  top: 10vh;
}
.searchcontainer {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputsearch {
  outline: none;
  border: none;
  width: 50%;
  padding: 0.5em 1em;
  font-size: large;
  border-radius: 20px;
  transition: all ease 0.2s;
  border: 1.3px solid rgba(4, 217, 255, 0.2);
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.inputsearch:hover {
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.275);
  font-size: larger;
}
.search {
  font-size: 1.175em;
  margin-top: 0.275em;
  color: whitesmoke;
  flex-basis: 90%;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: 1.2;
}
.searchicon {
  transform: rotate(90deg);
  color: whitesmoke;
  font-size: 24px;
  flex-basis: 10%;
  text-align: left;
  padding: 0.4em;
  margin-top: 0.3em;
}
.weathercontainer {
  width: 75%;
  height: 70%;
  margin: 0 auto;
  background-color: var(--weathercontainerbg);

  border-radius: 15px;
}
.locationcontainer {
  display: flex;
}
.locationicon {
  color: var(--weathertext);
  margin-right: 0.5em;
  font-size: 2.1em;
}
.locationtext {
  font-size: 2.1em;
  color: var(--weathertext);
}
.datecontainer {
  color: var(--weathertext2);
  font-size: 14px;
  margin-top: 3px;
  margin-left: 5px;
}
.weathericoncontainer {
  display: flex;
  margin-top: 12px;
  margin-left: 5px;
}
.temperature {
  color: var(--weathertext);
  font-size: 3.3em;
  text-align: center;
  margin-top: 0.1em;
  margin-left: 0.3em;
  border-radius: 50%;
}
.temperaturering {
  font-size: 11px;
  color: var(--weathertext);
  font-weight: lighter;
}
.weatheradditionalinfo {
  margin-top: 30px;
  display: flex;
}
.weatherinfocard {
  flex-grow: 1;
  flex-basis: 20%;
  height: 130px;
  margin: 0.3em;
  text-align: center;
}
.feelslike {
  color: #eee;
  font-size: 18px;
  margin-left: 30px;
  padding-top: 10px;
}
.weatherinfocard img {
  width: 45px;
}

.weatherinfocard h1 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: var(--weathertext2);
  padding: 0.2 0.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 0.1em;
}
.weatherinfocard p {
  margin: 0.275em;
  color: var(--weathertext);
  font-size: 18px;
}
.currentweathercontainer {
  width: 65px;
  height: 65px;

  position: relative;
}
.currentweathercontainer img {
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 880px) and (min-width: 700px) {
  .weatheradditionalinfo {
    margin-top: 40px;
    display: flex;

    width: 500px;
  }
  .weatherinfocard {
    flex: 1;
    width: 25%;
    height: 140px;
    text-align: center;
    margin-right: 1em;
  }
}
@media only screen and (max-width: 700px) {
  .appcontainer {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
  }
  .searchcontainer {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inputsearch {
    outline: none;
    border: none;
    width: 80%;
    padding: 0.5em 1em;
    font-size: large;
    border-radius: 20px;
    transition: all ease 0.2s;
    border: 1.3px solid rgba(4, 217, 255, 0.2);
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }
  .inputsearch:hover {
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.275);
    font-size: larger;
  }
  .search {
    font-size: 1.175em;
    margin-top: 0.275em;
    color: whitesmoke;
    flex-basis: 90%;
    text-align: right;
    text-transform: capitalize;
    letter-spacing: 1.2;
  }
  .searchicon {
    transform: rotate(90deg);
    color: whitesmoke;
    font-size: 24px;
    flex-basis: 10%;
    text-align: left;
    padding: 0.4em;
    margin-top: 0.3em;
  }
  .weathercontainer {
    width: 75%;
    height: 70%;
    margin: 0 auto;
    background-color: var(--weathercontainerbg);

    border-radius: 15px;
  }
  .locationcontainer {
    display: flex;
  }
  .locationicon {
    color: var(--weathertext);
    margin-right: 0.5em;
    font-size: 2.1em;
  }
  .locationtext {
    font-size: 2.1em;
    color: var(--weathertext);
  }
  .datecontainer {
    color: var(--weathertext2);
    font-size: 14px;
    margin-top: 3px;
    margin-left: 5px;
  }
  .weathericoncontainer {
    display: flex;
    margin-top: 12px;
    margin-left: 5px;
  }
  .temperature {
    color: var(--weathertext);
    font-size: 3.3em;
    text-align: center;
    margin-top: 0.1em;
    margin-left: 0.3em;
    border-radius: 50%;
  }
  .temperaturering {
    font-size: 11px;
    color: var(--weathertext);
    font-weight: lighter;
  }
  .weatheradditionalinfo {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .weatherinfocard {
    flex-grow: 1;
    flex-basis: 20%;
    height: 130px;
    margin: 0.3em;
    text-align: center;
  }
  .feelslike {
    color: #eee;
    font-size: 18px;
    margin-left: 30px;
    padding-top: 10px;
  }
  .weatherinfocard img {
    width: 55px;
  }

  .weatherinfocard h1 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: var(--weathertext2);
    padding: 0.2 0.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .weatherinfocard p {
    margin: 0.275em;
    color: var(--weathertext);
    font-size: 18px;
  }
  .currentweathercontainer {
    width: 65px;
    height: 65px;

    position: relative;
  }
  .currentweathercontainer img {
    position: absolute;
    width: 100%;
  }
}
